<!DOCTYPE html>

<html>
    
    <head>
        <title>Help</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header }}
        <p>You want to know more lets connect. <a href="/">github.com/JigSaw-Alina</a></p>
        </div>
        {{>footer }}
    </body>

</html>